.pago {
  background: rgb(34,190,195);
  background: linear-gradient(0deg, rgba(34,190,195,1) 18%, rgba(45,253,113,1) 100%); 
}


.back{
  background: rgb(63,87,251);
background: radial-gradient(circle, rgba(63,87,251,1) 0%, rgba(70,240,252,1) 100%); 
}

footer {
  
  bottom: 0;
  left: 0; /* Alinea el footer al lado izquierdo */
  width: 100%; /* Ancho del footer al 100% del viewport */
  background-color: #1ddfb5;
  color: white;
  padding: 20px 0;
}
/* Agrega estas reglas CSS a tu archivo de estilos (App.css o cualquier otro archivo CSS) */
.container-fluid {
min-height: 100vh; /* Asegura que el contenedor tiene una altura mínima de la ventana */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* Asegúrate de que los elementos padre también tengan una altura del 100% */
body, html, #root {
height: 100%;
margin: 0;
padding: 0;
}

/* Estilos para el Navbar personalizado */
.custom-navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.custom-navbar .nav-links {
  display: flex;
}

.custom-navbar .nav-links .nav-link {
  margin-right: 20px;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
  text-decoration: underline;
}
